@use "mixins";
@use "fonts";
@use "colors";

.accordionList {
  &-accordions {
    padding: 0.5rem 1rem;
  }

  &-accordion {
    @include fonts.body-A;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    border: none;
    border-radius: 1px;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;

    max-height: 88px;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;

    color: colors.$black-true;
    background-color: colors.$gray-blue;

    @include mixins.min-width(576px) {
      max-height: 70px;
    }

    &.open {
      max-height: 500px;
    }

    & > p {
      margin: 0;
    }

    &-heading,
    &-subheading {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @include mixins.min-width(576px) {
        flex-direction: row;
      }
    }
    &-heading {
    }
    &-subheading {
    }
    &-company {
      font-weight: 800;
      margin: 0 0.8rem 0 0;
    }
    &-title {
      font-style: italic;
      margin: 0 0.4rem 0 0;
    }
    &-dates {
      margin: 0;
    }
    &-description {
      padding-top: 1rem;
    }
    &-arrow {
      position: absolute;
      top: 12px;
      right: 16px;
      transition: transform 0.3s ease-in-out;
      transform: rotate(0deg);

      &.open {
        transform: rotate(180deg);
      }
    }
  }
}
