@use "mixins";
@use "colors";
@use "fonts";

.cardList {
  &-cardRow {
    &-title {
    }
    &-cards {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      @include mixins.min-width(576px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    &-card {
      @include fonts.body-A;
      @include mixins.flex-center-center;
      width: 100%;
      height: 100px;
      color: colors.$white-true;
      background-color: colors.$slate;
      margin: 1rem 0;
      border-radius: 1px;
      border: none;
      cursor: pointer;

      @include mixins.min-width(576px) {
        width: 110px;
        min-width: 110px;
        margin: 1rem;
        flex-wrap: wrap;
      }

      &.green {
        color: colors.$white-true;
        background-color: colors.$green;
      }
      &.yellow {
        color: colors.$blue-navy;
        background-color: colors.$yellow;
      }

      &-label {
        font-weight: 800;
      }
    }
  }

  &.portfolio {
    & .cardList-cardRow-card {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      color: colors.$black-true;
      background-color: transparent;
      @include mixins.min-width(576px) {
        flex-direction: column;
        height: 100%;
        width: 130px;
        padding: 1.4rem 0.5rem 0 0.5rem;
      }

      & img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        max-width: 100px;
        max-height: 100px;
        margin: 0 0.7rem;
      }
    }
  }
}
