$black-true: #000;
$black-onyx: #0d0d0d;
$black-matte: #282828;
$black-charcoal: #121212;

$white-true: #fff;
$white-off: #fafafa;
$white-smoke: #f5f5f5;
$white-cloud: #d5d5d5;
$white-other: #f9fafb;

$green: #33983b;
$yellow: #d3bb02;
$red: #e95757;
$blue: #3498db;
$blue-navy: #000080;
$blue-light: #00bfff;
$gray: #707070;
$gray-light: #e0e0e0;
$gray-blue: #c5d5ea;
$gray-dark: #333;
$slate: #7392b7;
$slate-light: #a3b6cc;
$periwinkle: #667eea;
$lavender: #764ba2;
$eggplant: #4a148c;
$purple-light: #9b5de5;
$purple-lighter: #b47ae5;
$purple-lightest: #d6aef8;
$purple-dark: #8033a2;

$lightmode-background: #3498db;
