@use "mixins";
@use "colors";
@use "fonts";

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: colors.$black-charcoal;
  color: colors.$white-smoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  & nav {
    @include mixins.flex-center-center;

    & a {
      color: colors.$blue-light;
      text-decoration: none;
    }
  }

  & .header-themeSwitcher {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding-right: 2rem;

    &-menuButton {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: colors.$white-smoke;
      @include fonts.body-A;

      .arrow {
        transition: transform 0.3s ease-in-out;
        transform: rotate(0deg);

        &.open {
          transform: rotate(180deg);
        }
      }
    }

    & .header-themeSwitcher-menu {
      position: absolute;
      top: 40px;
      right: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
      width: 140px;
      height: auto;
      max-height: 0;
      overflow: hidden;
      padding: 0 1rem;
      background-color: colors.$black-charcoal;
      // background-color: pink;
      color: colors.$white-smoke;
      transition:
        max-height 0.3s ease-in-out,
        padding-top 0.3s ease-in-out;
      &.open {
        max-height: 100px;
        padding: 0.5rem 1rem 1rem 1rem;
      }

      &-button {
        width: 100%;
        text-align: left;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: colors.$white-smoke;
        @include fonts.body-A;
      }
    }
  }
}
