@use "mixins";
@use "colors";
@use "fonts";

.hero {
  margin-top: 60px; // accounts for fixed header height
  margin-bottom: 20px;
  padding: 2rem;

  &-toast {
    background-color: colors.$slate-light;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;

    & h3 {
      margin: 0.5rem 1rem 1rem 1rem;
    }
    & p {
      margin: 0.5rem 1rem 0.5rem 1rem;
    }
  }

  &-photo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 400px;
    }

    @include mixins.min-width(768px) {
      width: 40%;

      & img {
        max-width: 100%;
      }
    }
    @include mixins.min-width(992px) {
      width: 65%;
    }
    @include mixins.min-width(1100px) {
      width: 45%;
    }
  }

  &-title {
    margin-top: 1rem;
    width: 100%;

    @include mixins.min-width(768px) {
      margin-top: 0;
      margin-left: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &-name {
      @include fonts.heading-A;
      text-align: left;
      text-transform: uppercase;
      margin: 0;

      @include mixins.min-width(768px) {
        @include mixins.max-width(1215px) {
          // @include fonts.heading-B;
          font-size: 48px;
        }
      }

      @include mixins.min-width(1216px) {
        font-size: 64px;
      }
    }

    &-role {
      font-weight: 800;
    }
  }

  &-contact {
    width: 100%;

    @include mixins.min-width(992px) {
      width: 25%;
    }

    & ul {
      list-style-type: circle;
      padding-left: 20px;

      & a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include mixins.min-width(768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    & .hero-contact {
      @include mixins.min-width(768px) {
        @include mixins.max-width(991px) {
          display: none;
        }
      }
      @include mixins.min-width(992px) {
        margin-left: 1.5rem;
      }
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    @include mixins.max-width(767px) {
      display: none;
    }
    @include mixins.min-width(992px) {
      display: none;
    }
  }
}
