@use "variables";

// Media queries
@mixin min-width($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin max-width($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// Flex layout
@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Text formatting
@mixin text-ellipsis($max-width: 100%) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $max-width;
}
